<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReprezentacjaPolski2.Properties.Settings.Reprezentacja1ConnectionString"
            connectionString="Data Source=DESKTOP-5KNOM36\SQLEXPRESS;Initial Catalog=Reprezentacja1;User ID=dalek;Password=haslo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>